[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "external/cpptoml"]
	path = external/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "external/stlloader"]
	path = external/stlloader
	url = https://github.com/dacunni/stlloader.git
  branch = release
[submodule "external/generator"]
	path = external/generator
	url = git@github.com:dacunni/generator.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
